In [6]:
l = [1,2,3,4,5]

In [7]:
for i in l:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [8]:
l1 = ["aamir", "ali", "irfan","khan"]
for i in l1:
    print(i)

aamir
ali
irfan
khan

In [9]:
l1

['aamir', 'ali', 'irfan', 'khan']

In [10]:
for i in l1:
    print(i)
else:
    print("if "for loop" is able to "complete" itself then only "else" will execute.")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (374614337.py, line 4)

In [11]:
l1

['aamir', 'ali', 'irfan', 'khan']

In [12]:
for i in l1:
    if i == "ali":
        break
    print(i)

aamir

In [13]:
l1

['aamir', 'ali', 'irfan', 'khan']

In [14]:
for i in l1:
    if i == "ali":
        break
    print(i)
else:
    print("execute this if for loop is able to complete itself.")

aamir

In [72]:
l1

['aamir', 'ali', 'irfan', 'khan']

In [73]:
for i in l1:
    if i == "ali":
        continue
    print(i)

aamir
irfan
khan

In [74]:
for i in l1:
    if i == "ali":
        continue
    print(i)
    
else: print("execute this if for loop is able to complete itself/or exnasust thrmr.")

aamir
irfan
khan
execute this if for loop is able to complete itself/or exnasust thrmr.

In [75]:
range(5)

range(0, 5)

In [76]:
list(range(5))

[0, 1, 2, 3, 4]

In [77]:
list(range(0, 5,1 ))

[0, 1, 2, 3, 4]

In [78]:
range(0, 20, 2)

range(0, 20, 2)

In [79]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [80]:
list(range(-10,0,2))

[-10, -8, -6, -4, -2]

In [81]:
list(range(-10,0,))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [82]:
l1

['aamir', 'ali', 'irfan', 'khan']

In [83]:
list(range(len(l1),0,-1))

[4, 3, 2, 1]

In [84]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [85]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

khan
irfan
ali
aamir

In [86]:
# for i in range(len(l1)):
#     pass
# print(l1[::-1])

In [89]:
for i in [3, 2, 1, 0]:
    print(l1[i])

khan
irfan
ali
aamir

In [88]:
o = []
for i in range(len(l1)-1,-1,-1):
    o.append(l1[i])
print(o)

['khan', 'irfan', 'ali', 'aamir']

In [95]:
l2 = [23, 5, 45,56, 6, 67,67, 78, 87, 8998, 9, 9, 8]

In [96]:
for i in range(0,len(l2),2):
    print(l2[i])

23
45
6
67
87
9
8

In [101]:
l3 = [1,2,3,4,7,8,98]
x = 0
for i in l3:
    x += i
print(x)

123

In [102]:
sum(l3)

123

In [109]:
t = (1,2,3,4,4,5)
x = 0
for i in t : x+=i
print(x)

19

In [113]:
s = {1,2,3,4,5,"aamir", "pwskills"}
for i in s:
    print(i)

aamir
1
2
3
4
5
pwskills

In [114]:
s1 = "aamir"
for i in s1:
    print(i)

a
a
m
i
r

In [126]:
d = {"name": "aamir", "class":"data science", 
     "topic":["python","stats","machine learning", "DL", "CV", "NLP", "resume", "inteview"]}

In [127]:
d["name"]

'aamir'

In [128]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [129]:
d.values()

dict_values(['aamir', 'data science', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'inteview']])

In [130]:
for i in d.keys():
    print(i)

name
class
topic

In [131]:
for i in d.keys():
    print(d[i])

aamir
data science
['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'inteview']

In [132]:
for i in d.values():
    print(i)

aamir
data science
['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'inteview']

In [133]:
for i in d.items():
    print(i)

('name', 'aamir')
('class', 'data science')
('topic', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'inteview'])