In [1]:
a = 1

while a <= 10:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

In [2]:
#sum up the number till some point

In [3]:
ent = int(input("Enter a number: "))
ent1 = 1
num = 0
while ent1 <= ent:
    num = num+ent1
    ent1+=1
print(num)

Enter a number: 2
3

In [4]:
n = int

In [5]:
# n = int(input("enter your limit: "))
# starting_point = 0
# counter = 1

# while counter <= n:
#     starting_point = starting_point + counter
#     counter = counter + 1
# starting_point

In [6]:
#factorial

In [7]:
number = int(input("Enter the number: "))
fac = 1
while number >= 1:
    fac = fac * number
    number = number - 1
print(fac)

Enter the number: 2
2

# Fibonacci Series

In [8]:
# a = 0
# b = 1
a,b = 0,1
counter = 0
num = int(input("Enter the number: "))
while counter < num:
    print(a)
    c = a + b
    a = b
    b = c
    counter+=1 
# print(a)

Enter the number: 2
0
1

In [9]:
a,b = 0,1

num = int(input("Enter the number: "))
for i in range(0, num):
    print(a)
    c = a + b
    a = b
    b = c
    
# print(a)

Enter the number: 2
0
1

In [10]:
s = "sudh"
s[::-1]

'hdus'

In [11]:
word = input("Enter the string: ")
reverse = ""
length = len(word)
while length > 0:
    reverse = reverse + word[length - 1]
    length = length - 1
print(reverse)

Enter the string: dk
kd

In [12]:
#print table of numbers:

In [20]:
n = int(input("Enter the number: "))
x = 1
while x<=10:
    c = x * n
    print(n, "*", x, "=", c)
    x += 1

Enter the number: 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [22]:
n = 5
i = 1
while i < n:
    print(i)
    i+=1
else:
    print("this will be executed once your while loop will be completely executed.")

1
2
3
4
this will be executed once your while loop will be completely executed.

In [23]:
n = 5
i = 1
while i < n:
    print(i)
    if i == 3:
        break
    i+=1
else:
    print("this will be executed once your while loop will be completely executed.")

1
2
3

In [ ]:
city = input("Enter the city you want monument from:")
l1 = ["Delhi", "Agra", "Jaipur"]
l2 = ["Red Fort", "Taj Mahal", "Jal Mahal"]
for i in range(len(l1)):
      if l1[i] == city:
        print(f"The monument to visit is {l2[i]}")

In [1]:
string = "p w s k i l l s"

" ".join(string.replace(" ", ""))

'p w s k i l l s'

In [2]:
"pwskills"[::-1].upper().replace("SLLIKSWP", "pwskills").islower()

True

In [3]:
s = "I want to become a data scientist"

for i in s.split():

    i.capitalize()

    print(i.title())

I
Want
To
Become
A
Data
Scientist

In [4]:
'pwskills'[0]='P'

TypeError: 'str' object does not support item assignment

In [ ]:
number = 99
counter = 0
while number > 10 and number%3 == 0:
    print(f'can divide {number} by three')
    number = number/3
    counter +=1
print("Number of times a given number can be divided by 3 before it is less than or equal to 10 = ",counter)

In [ ]:
number = 99
counter = 0
while number > 10:
    if number%3 == 0:
        print(f'can divide {number} by three')
        number = number/3
        counter +=1
    else:
        break
print("Number of times a given number can be divided by 3 before it is less than or equal to 10 = ",counter)

In [22]:
import math
n = int(input().strip())
print(max(0,math.ceil(math.log(n/10,3))))

78
2

In [23]:
import math
n = int(input().strip())
print(int(max([math.log(n/i,3) if math.log(n/i,3).is_integer() else 0 for i in range(4,11)])))

78
0

In [24]:
n,s=int(input()),0
while n>9 and n%3==0:s+=1;n//=3
print(s)

78
1

# List Comprehension.

In [5]:
l = [1,2,3,4,45,5]
l1 = []
for i in l:
    l1.append(i**2)

In [6]:
l1

[1, 4, 9, 16, 2025, 25]

In [8]:
l2 = [1,2,3,4,45,5]
[i**2 for i in l2]

[1, 4, 9, 16, 2025, 25]

In [14]:
l3 = [1,2,3,4,45,5]
[i for i in l3 if i%2==0]

[2, 4]

In [17]:
l4 = ["sudh", "pwskills", "kumar", "data science masters"]
[i.upper() for i in l4]

['SUDH', 'PWSKILLS', 'KUMAR', 'DATA SCIENCE MASTERS']

In [18]:
l

[1, 2, 3, 4, 45, 5]

In [19]:
list(i**2 for i in l)

[1, 4, 9, 16, 2025, 25]

In [20]:
d = {"key1":1,"key2":2,"key3":3,"key4":4}

In [21]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3), ('key4', 4)])

In [22]:
{k:v**2 for k,v in d.items()}

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [23]:
d

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [25]:
{k:v for k,v in d.items() if v > 1}

{'key2': 2, 'key3': 3, 'key4': 4}

# Functions

In [3]:
def test1():
    print("this is my first function")

In [4]:
test1()

this is my first function

In [5]:
test1() + "aamir"

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [9]:
def test2():
    return "this is my very first return "

In [10]:
test2()

'this is my very first return '

In [11]:
test2() + "aamir"

'this is my very first return aamir'

In [14]:
def test3():
    return "aamir",23,345.56, [1,2,3,3]

In [15]:
test3()

('aamir', 23, 345.56, [1, 2, 3, 3])

In [16]:
a,b,c,d = test3()

In [17]:
a

'aamir'

In [18]:
b

23

In [19]:
c

345.56

In [20]:
d

[1, 2, 3, 3]

In [23]:
def test4():
    a = 5+6/7
    return a

In [24]:
test4()

5.857142857142857

In [25]:
def test5(a,b,c):
    d = a+b/c
    return d

In [26]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [27]:
test5(2,5,8)

2.625

In [30]:
def test6(a,b):
    return a+b

In [31]:
test6(3,4)

7

In [32]:
test6("aamir", " ali")

'aamir ali'

In [33]:
test6([1,2,3,4,5], [4,5,6])

[1, 2, 3, 4, 5, 4, 5, 6]

In [44]:
l = [ 1,2,3,4,"sudh","kumar",[1,2,3,4,5,6]]
num = []
for i in l:
    if type(i) == int or type(i) == float:
            num.append(i)
print(num)

[1, 2, 3, 4]

In [66]:
l = [ 1,2,3,4,"sudh","kumar",[1,2,3,4,5,6]]
num = []
def find_int(l):
    for i in l:
        if type(i) == int or type(i) == float:
            num.append(i)
    return num

In [67]:
find_int(l)

[1, 2, 3, 4]

In [68]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [71]:
l = [ 1,2,3,4,"sudh","kumar",[1,2,3,4,5,6]]
num_2 = []
def find_in_list(l):
    for i in l:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    num_2.append(j)
        else:
            if type(i) == int or type(i) == float:
                num_2.append(i)
    return(num_2)

In [72]:
find_in_list(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [83]:
l = [ 1,2,3,4,"sudh","kumar",[1,2,3,4,5,6]]
num_2 = []
def find_in_listt(l):
    """this is my function to extract numeric data from list"""
    
    for i in l:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    num_2.append(j)
        else:
            if type(i) == int or type(i) == float:
                num_2.append(i)
    return(num_2)

In [84]:
find_in_listt(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [85]:
def test10(a,b):
    return a+b

In [88]:
def test11(*args):
    return args

In [91]:
type(test11())

tuple

In [92]:
test11(1,2,3,4,5,"aamir","ali",[1,2,3,4])

(1, 2, 3, 4, 5, 'aamir', 'ali', [1, 2, 3, 4])

In [95]:
def test12(*aamir):
    return aamir

In [96]:
test12(1,2,3,4)

(1, 2, 3, 4)

In [97]:
def test13(*args, a):
    return args, a

In [98]:
test13(1,2,3,4)

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [99]:
test13(1,2,3,4, a = 35)

((1, 2, 3, 4), 35)

In [100]:
def test14(a, b, c = 23, d = 56):
    return(a,b,c,d)

In [101]:
test14(1,2)

(1, 2, 23, 56)

In [102]:
test14(3,4,c = 678, d = 999)

(3, 4, 678, 999)

In [103]:
def test15(**kwargs):
    return kwargs

In [104]:
test15()

{}

In [105]:
type(test15())

dict

In [106]:
test15(a = [1,2,3], b = "aamir", c = 1234)

{'a': [1, 2, 3], 'b': 'aamir', 'c': 1234}