In [2]:
d = {}

In [3]:
type(d)

dict

In [4]:
# key should be unique

In [5]:
d1 = {"key": "aamir"}

In [6]:
d1

{'key': 'aamir'}

In [7]:
d2 = {'name': "aamir", "email": "aa@mail.com", "number": 4729384}

In [8]:
d2

{'name': 'aamir', 'email': 'aa@mail.com', 'number': 4729384}

In [9]:
d3 = {234: "aamir", @78:, True: 67,"ty", _ld: "hg",} #so dont use special characters. untill and unless in double quotes

SyntaxError: invalid syntax (2967904171.py, line 1)

In [10]:
d3 = {234: "aamir", '_wer': "alii", True: 24234}

In [11]:
d3

{234: 'aamir', '_wer': 'alii', True: 24234}

In [12]:
d3[234]

'aamir'

In [13]:
d3[True]

24234

In [14]:
d3[1] #because true is equal to 1

24234

In [15]:
d4 = {"name": "aamir","email": "aa@mail.com", "name": "aaamirr"}

In [16]:
d4["name"] #it overwrites the previous value

'aaamirr'

In [17]:
d5 = {"company": "pwskills", "course":["web dev", "data science", "java with dsa and system design"]}

In [18]:
d5

{'company': 'pwskills',
 'course': ['web dev', 'data science', 'java with dsa and system design']}

In [19]:
d5["course"]

['web dev', 'data science', 'java with dsa and system design']

In [20]:
d5["course"][2]

'java with dsa and system design'

In [21]:
d6 = {"number": [2,34,3,34,34], "assignment": (1,2,3,4,5,6), "launch_date": {28,12,14}, "class_timing":{"web_dev": 8, "Data Science Masters": 8, " Java with dsa": 7}}

In [22]:
d6

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_timing': {'web_dev': 8,
  'Data Science Masters': 8,
  ' Java with dsa': 7}}

In [23]:
d6["class_timing"]["web_dev"]

8

In [24]:
d6["mentor"] = ["sudanshu", "krish", "anurag", "hayder"]

In [25]:
d6

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_timing': {'web_dev': 8,
  'Data Science Masters': 8,
  ' Java with dsa': 7},
 'mentor': ['sudanshu', 'krish', 'anurag', 'hayder']}

In [26]:
del d6["number"]

In [27]:
d6

{'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_timing': {'web_dev': 8,
  'Data Science Masters': 8,
  ' Java with dsa': 7},
 'mentor': ['sudanshu', 'krish', 'anurag', 'hayder']}

In [28]:
d6.keys()

dict_keys(['assignment', 'launch_date', 'class_timing', 'mentor'])

In [29]:
list(d6.keys())

['assignment', 'launch_date', 'class_timing', 'mentor']

In [30]:
d6.items()

dict_items([('assignment', (1, 2, 3, 4, 5, 6)), ('launch_date', {28, 12, 14}), ('class_timing', {'web_dev': 8, 'Data Science Masters': 8, ' Java with dsa': 7}), ('mentor', ['sudanshu', 'krish', 'anurag', 'hayder'])])

In [31]:
list(d6.items())

[('assignment', (1, 2, 3, 4, 5, 6)),
 ('launch_date', {12, 14, 28}),
 ('class_timing',
  {'web_dev': 8, 'Data Science Masters': 8, ' Java with dsa': 7}),
 ('mentor', ['sudanshu', 'krish', 'anurag', 'hayder'])]

In [32]:
d6.pop('assignment')

(1, 2, 3, 4, 5, 6)

In [33]:
d6

{'launch_date': {12, 14, 28},
 'class_timing': {'web_dev': 8,
  'Data Science Masters': 8,
  ' Java with dsa': 7},
 'mentor': ['sudanshu', 'krish', 'anurag', 'hayder']}

# Control Flow

In [37]:
# marks = 65
marks = int(input("Enter the marks: "))

if marks >= 80:
    print(f"you will be a part of A0 batch")
elif marks >=60 and marks <80:
    print("you will be a part of A1 batch")
elif marks >=40 and marks <60:
    print("you will be a part of A2 batch")
else:
    print("you will be a part of A3 batch")

Enter the marks: 89
you will be a part of A0 batch

In [38]:
marks

89

In [39]:
type(marks)

int

In [40]:
price = int(input("Enter the price: "))

if price > 1000:
    print("i will not purchase.")
else:
    print("i will purchase.")

Enter the price: 586
i will purchase.

In [42]:
price = int(input("Enter the price: "))

if price > 1000:
    print("i will not purchase.")

Enter the price: 12

In [43]:
price = int(input("Enter the price: "))

if price > 1000:
    print("i will not purchase.")
    if price > 5000:
        print("Bring it on.")
    elif price < 2000:
        print("Ahha")
elif price < 1000:
    print("its okay")
else:
    print("not sure")

Enter the price: 343984
i will not purchase.
Bring it on.

# Loops

In [80]:
l = [1,2,3,4,5,6,7,8]
l1 = []

In [81]:
for i in l:
    i = i +1
    l1.append(i)
print(l1)

[2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
l = ["aamir", "ali", "course", "data science"]
l2 = []

In [90]:
for i in l:
    l2.append(i.upper())
print(l2)

['AAMIR', 'ALI', 'COURSE', 'DATA SCIENCE']

In [105]:
l = [1,2,3,4,4, "aamir", "aalii", 324, 34.456, "abc"]
l1 = []
l2 = []

In [106]:
for i in l:
    if type(i) == str:
        l1.append(i)
    else:
        l2.append(i)
print(l1, l2)

['aamir', 'aalii', 'abc'] [1, 2, 3, 4, 4, 324, 34.456]

In [109]:
s = "aamir"
s[0] = "b"

TypeError: 'str' object does not support item assignment