# Measure of Central Tendency

In [1]:
age = [12, 21, 23, 45, 65, 43, 56, 45, 32, 67, 54, 34]

In [2]:
import numpy as np

In [3]:
np.mean(age)

41.416666666666664

In [4]:
weights= [54,45,34,54,34,67,54,56,75]

In [5]:
np.mean(weights)

52.55555555555556

In [6]:
import seaborn as sns

In [7]:
df = sns.load_dataset('tips')

In [8]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
np.mean(df['total_bill'])

19.78594262295082

In [10]:
## Median

In [11]:
np.median(age)

44.0

In [12]:
age = [12, 21, 23, 45, 65, 43, 56, 45, 32, 67, 54, 34,200]

In [13]:
np.mean(age)

53.61538461538461

In [14]:
np.median(age)

45.0

In [15]:
from scipy import stats

In [16]:
stats.mode(age)

/var/folders/kl/h33z80hx4978lqcftcf7sxr40000gn/T/ipykernel_20171/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([45]), count=array([2]))

In [17]:
np.median(df['total_bill'])

17.795